.produit{
	border: 2px solid grey;
	margin: 10px;
	width: 300px;
	float: left;
}

.image-produit{
	width:100px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: contain;
}

.panier{
	border: 2px solid red;
	width: 400px;
	height: 400;
	position: fixed;
	top: 0;
	right: 0;
}

.produit-panier{

}

.en-attente{
	border: 5px solid purple;
}
